###### Importing Python Librairies

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn.utils import resample
from scipy import stats
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')

***

### Data cleaning and rearranging

Read into dataframes previsouly cleaned triage and appointment information data csv files

In [2]:
triage_df = pd.read_csv('triage.csv')
appointment_df = pd.read_csv('appointment.csv')

In [3]:
# creating a temporary dataframe by filtering only individuals that were given an appointment and sort values 
# by the name colum ascending order

temp_df = triage_df[triage_df['call outcome'] == 'appointment given']
temp_df.sort_values('name')

,name,surname,call date,call outcome,services awerness via,sex,age,full name
36,alexander,scott,2021-02-15,appointment given,ngo,male,44.0,alexander scott
34,alfie,murray,2021-02-15,appointment given,twitter,male,NaN,alfie murray
4,alice,murray,2021-02-05,appointment given,lifeline,female,NaN,alice murray
44,archie,morrison,2021-02-24,appointment given,ngo,male,53.0,archie morrison
51,archie,johnstone,2021-02-25,appointment given,radio,male,35.0,archie johnstone
46,aria,gray,2021-02-24,appointment given,close entourage,female,33.0,aria gray
58,arthur,millar,2021-02-27,appointment given,ngo,male,38.0,arthur millar
43,brodie,paterson,2021-02-24,appointment given,lifeline,female,49.0,brodie paterson
11,damon,hart,2021-02-07,appointment given,ngo,male,76.0,damon hart
45,ellie,henderson,2021-02-24,appointment given,lifeline,female,47.0,ellie henderson
53,finlay,munro,2021-02-26,appointment given,awareness booth,male,42.0,finlay munro
54,finn,craig,2021-02-26,appointment given,close entourage,male,15.0,finn craig
5,gavin,wolff,2021-02-06,appointment given,ngo,male,8.0,gavin wolff
30,harris,thomson,2021-02-13,appointment given,lifeline,male,82.0,harris thomson
26,isabelle,wells,2021-02-13,appointment given,twitter,female,25.0,isabelle wells
52,jacob,watt,2021-02-26,appointment given,lifeline,male,67.0,jacob watt
28,james,stewart,2021-02-13,appointment given,television,male,41.0,james stewart
7,james,black,2021-02-06,appointment given,close entourage,male,37.0,james black
12,jeffrey,lard,2021-02-07,appointment given,close entourage,male,45.0,jeffrey lard
18,jennifer,runt,2021-02-08,appointment given,instagram,female,41.0,jennifer runt
0,john,doe,2021-02-01,appointment given,instagram,male,23.0,john doe
16,joseph,ford,2021-02-08,appointment given,ngo,male,65.0,joseph ford
56,joshua,mckenzie,2021-02-27,appointment given,NaN,male,24.0,joshua mckenzie
32,leo,anderson,2021-02-14,appointment given,television,male,38.0,leo anderson
6,leon,grave,2021-02-06,appointment given,private practitioner,male,18.0,leon grave
31,lewis,robertson,2021-02-13,appointment given,NaN,male,16.0,lewis robertson
47,lily,johnston,2021-02-24,appointment given,awareness booth,female,26.0,lily johnston
25,lorna,cormack,2021-02-12,appointment given,lifeline,female,31.0,lorna cormack
39,lucas,watson,2021-02-19,appointment given,NaN,male,17.0,lucas watson
14,lynn,scott,2021-02-08,appointment given,close entourage,female,43.0,lynn scott
37,max,clark,2021-02-17,appointment given,private practitioner,male,58.0,max clark
49,mia,burns,2021-02-24,appointment given,awareness booth,female,41.0,mia burns
15,michael,black,2021-02-08,appointment given,close entourage,male,97.0,michael black
8,mike,good,2021-02-06,appointment given,lifeline,male,38.0,mike good
33,noah,taylor,2021-02-15,appointment given,radio,male,29.0,noah taylor
19,oliver,gage,2021-02-08,appointment given,facebook,male,57.0,oliver gage
57,oscar,ritchie,2021-02-27,appointment given,close entourage,male,28.0,oscar ritchie
17,rachel,warwick,2021-02-08,appointment given,television,female,37.0,rachel warwick
13,sophie,lard,2021-02-08,appointment given,close entourage,female,8.0,sophie lard

***

Join the appointment dataframe and the temporary dataframe (filtered from the triage dataframe) using a left join on the appointment dataframe, on the full name column (there are duplicate names and duplicate surnames in the dataframe)

In [4]:
merged_df = appointment_df.merge(temp_df, how='left', on='full name')

In [5]:
merged_df.sort_values('full name')

,name_x,surname_x,appointment date,status,practitioner,phq9,full name,name_y,surname_y,call date,call outcome,services awerness via,sex,age
0,alexander,scott,2021-03-10,attended,psychiatrist,21.0,alexander scott,alexander,scott,2021-02-15,appointment given,ngo,male,44.0
1,alfie,murray,2021-03-10,attended,psychiatrist,23.0,alfie murray,alfie,murray,2021-02-15,appointment given,twitter,male,NaN
2,alfie,murray,2021-03-22,attended,social worker,22.0,alfie murray,alfie,murray,2021-02-15,appointment given,twitter,male,NaN
86,alfie,murray,2021-03-31,cancelled,social worker,NaN,alfie murray,alfie,murray,2021-02-15,appointment given,twitter,male,NaN
3,alice,murray,2021-03-01,attended,nurse,NaN,alice murray,alice,murray,2021-02-05,appointment given,lifeline,female,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,rachel,warwick,2021-03-02,attended,psychologist,19.0,rachel warwick,rachel,warwick,2021-02-08,appointment given,television,female,37.0
84,rachel,warwick,2021-03-29,attended,social worker,27.0,rachel warwick,rachel,warwick,2021-02-08,appointment given,television,female,37.0
88,sophie,lard,2021-03-16,attended,psychiatrist,NaN,sophie lard,sophie,lard,2021-02-08,appointment given,close entourage,female,8.0
87,sophie,lard,2021-03-04,attended,nurse,23.0,sophie lard,sophie,lard,2021-02-08,appointment given,close entourage,female,8.0
89,sophie,lard,2021-03-28,attended,psychiatrist,25.0,sophie lard,sophie,lard,2021-02-08,appointment given,close entourage,female,8.0

In [6]:
merged_df.columns

Index(['name_x', 'surname_x', 'appointment date', 'status', 'practitioner',
       'phq9', 'full name', 'name_y', 'surname_y', 'call date', 'call outcome',
       'services awerness via', 'sex', 'age'],
      dtype='object')

In [7]:
# drop useless and similar columns during the join/merge

merged_df.drop(['call outcome', 'name_y', 'surname_y'], axis=1, inplace=True)

In [8]:
# rename columns
merged_df.columns =['name', 'surname', 'appointment date', 'status', 'practitioner', 'phq9', 'full name',
                'call date', 'services awerness via', 'gender', 'age']

In [9]:
# change the order of columns in the dataframe 

column_names = ["full name", "name", "surname", "age", "gender", "call date", "services awerness via",
                "appointment date", "status", "practitioner", "phq9"]

merged_df = merged_df.reindex(columns=column_names)

In [10]:
merged_df

,full name,name,surname,age,gender,call date,services awerness via,appointment date,status,practitioner,phq9
0,alexander scott,alexander,scott,44.0,male,2021-02-15,ngo,2021-03-10,attended,psychiatrist,21.0
1,alfie murray,alfie,murray,NaN,male,2021-02-15,twitter,2021-03-10,attended,psychiatrist,23.0
2,alfie murray,alfie,murray,NaN,male,2021-02-15,twitter,2021-03-22,attended,social worker,22.0
3,alice murray,alice,murray,NaN,female,2021-02-05,lifeline,2021-03-01,attended,nurse,NaN
4,alice murray,alice,murray,NaN,female,2021-02-05,lifeline,2021-03-28,attended,psychiatrist,23.0
...,...,...,...,...,...,...,...,...,...,...,...
85,lewis robertson,lewis,robertson,16.0,male,2021-02-13,NaN,2021-03-31,cancelled,psychiatrist,NaN
86,alfie murray,alfie,murray,NaN,male,2021-02-15,twitter,2021-03-31,cancelled,social worker,NaN
87,sophie lard,sophie,lard,8.0,female,2021-02-08,close entourage,2021-03-04,attended,nurse,23.0
88,sophie lard,sophie,lard,8.0,female,2021-02-08,close entourage,2021-03-16,attended,psychiatrist,NaN
89,sophie lard,sophie,lard,8.0,female,2021-02-08,close entourage,2021-03-28,attended,psychiatrist,25.0

***

###### Pre-processing before answering questions 2 and 3

In [11]:
# creating a new df (leave the merged df intact) only for attendees
# sorting the dataframe by full name and their appointment dates as well 
df = merged_df[merged_df.status == 'attended'].sort_values(['full name', 'appointment date'])
df = df[df['phq9'].notna()]
df.head()

,full name,name,surname,age,gender,call date,services awerness via,appointment date,status,practitioner,phq9
0,alexander scott,alexander,scott,44.0,male,2021-02-15,ngo,2021-03-10,attended,psychiatrist,21.0
1,alfie murray,alfie,murray,NaN,male,2021-02-15,twitter,2021-03-10,attended,psychiatrist,23.0
2,alfie murray,alfie,murray,NaN,male,2021-02-15,twitter,2021-03-22,attended,social worker,22.0
4,alice murray,alice,murray,NaN,female,2021-02-05,lifeline,2021-03-28,attended,psychiatrist,23.0
7,archie johnstone,archie,johnstone,35.0,male,2021-02-25,radio,2021-03-13,attended,psychiatrist,7.0

In [12]:
# keeping rows that are duplicates only and eliminating the single rows of patient who attended once
df = df[df.duplicated(subset=['full name'],keep= False)]

In [13]:
# code that single out/filter first full names duplicates using its subset parameters on 'full name' 
# (PS: there are names and surnames dupl.)
df[df.duplicated(subset=['full name'],keep= 'first')].index

Int64Index([ 2,  8, 12, 14, 17, 20, 22, 23, 26, 27, 28, 30, 32, 35, 36, 41, 43,
            45, 46, 54, 56, 58, 63, 64, 70, 71, 72, 73, 75, 81, 78, 84, 89],
           dtype='int64')

In [14]:
# create a list from the previous code with all indices except the first full names duplicates' indices

firstidx_out_list = list(df[df.duplicated(subset=['full name'],keep= 'first')].index)

In [15]:
# All indices list 

all_idx_list= list(df.index)

In [16]:
# append elements from all_idx_list that are not in first_idx_out_list -> singling out first names
# singling out the first patient row on his first appointment 
first_idx =[]

for element in all_idx_list:
    if element not in firstidx_out_list:
        first_idx.append(element)
        
first_idx

[1, 7, 11, 15, 18, 21, 29, 31, 33, 37, 42, 44, 52, 57, 62, 69, 74, 77, 83, 87]

In [17]:
# create a list with all indices except the last full names duplicates' indices

lastidx_out_list = list(df[df.duplicated(subset=['full name'],keep= 'last')].index)

In [18]:
# append elements from all_idx_list that are not in last_idx_out_list -> singling out last full names
# singling out the last patient row on his last appointment 

last_idx =[]

for element in all_idx_list:
    if element not in lastidx_out_list:
        last_idx.append(element)
        
last_idx

[2, 8, 14, 17, 20, 28, 30, 32, 36, 41, 43, 46, 56, 58, 64, 73, 75, 78, 84, 89]

In [19]:
# joining the 2 lists will have indices of each patient first and last appointment 
# Reminder: the dataframe was sorted by full names and their appointment dates 

final_idx_list = first_idx + last_idx

In [20]:
final_idx_list.sort()

In [21]:
# filter our dataframe and save it, according the indices we found for each patient: his first and last appointment row

df= df.loc[final_idx_list]
df

,full name,name,surname,age,gender,call date,services awerness via,appointment date,status,practitioner,phq9
1,alfie murray,alfie,murray,NaN,male,2021-02-15,twitter,2021-03-10,attended,psychiatrist,23.0
2,alfie murray,alfie,murray,NaN,male,2021-02-15,twitter,2021-03-22,attended,social worker,22.0
7,archie johnstone,archie,johnstone,35.0,male,2021-02-25,radio,2021-03-13,attended,psychiatrist,7.0
8,archie johnstone,archie,johnstone,35.0,male,2021-02-25,radio,2021-03-28,attended,psychologist,18.0
11,damon hart,damon,hart,76.0,male,2021-02-07,ngo,2021-03-07,attended,social worker,21.0
14,damon hart,damon,hart,76.0,male,2021-02-07,ngo,2021-03-28,attended,nurse,19.0
15,gavin wolff,gavin,wolff,8.0,male,2021-02-06,ngo,2021-03-01,attended,psychologist,23.0
17,gavin wolff,gavin,wolff,8.0,male,2021-02-06,ngo,2021-03-31,attended,psychologist,23.0
18,harris thomson,harris,thomson,82.0,male,2021-02-13,lifeline,2021-03-09,attended,nurse,16.0
20,harris thomson,harris,thomson,82.0,male,2021-02-13,lifeline,2021-03-23,attended,nurse,10.0
21,isabelle wells,isabelle,wells,25.0,female,2021-02-13,twitter,2021-03-03,attended,psychologist,11.0
28,isabelle wells,isabelle,wells,25.0,female,2021-02-13,twitter,2021-03-30,attended,psychiatrist,0.0
29,jacob watt,jacob,watt,67.0,male,2021-02-26,lifeline,2021-03-15,attended,psychiatrist,2.0
30,jacob watt,jacob,watt,67.0,male,2021-02-26,lifeline,2021-03-16,attended,psychiatrist,17.0
31,james black,james,black,37.0,male,2021-02-06,close entourage,2021-03-02,attended,social worker,27.0
32,james black,james,black,37.0,male,2021-02-06,close entourage,2021-03-04,attended,psychologist,7.0
33,james stewart,james,stewart,41.0,male,2021-02-13,television,2021-03-08,attended,psychiatrist,24.0
36,james stewart,james,stewart,41.0,male,2021-02-13,television,2021-03-31,attended,psychologist,4.0
37,jeffrey lard,jeffrey,lard,45.0,male,2021-02-07,close entourage,2021-03-04,attended,social worker,27.0
41,jeffrey lard,jeffrey,lard,45.0,male,2021-02-07,close entourage,2021-03-15,attended,psychiatrist,18.0
42,jennifer runt,jennifer,runt,41.0,female,2021-02-08,instagram,2021-03-29,attended,psychiatrist,15.0
43,jennifer runt,jennifer,runt,41.0,female,2021-02-08,instagram,2021-03-31,attended,psychologist,21.0
44,john doe,john,doe,23.0,male,2021-02-01,instagram,2021-03-01,attended,psychiatrist,0.0
46,john doe,john,doe,23.0,male,2021-02-01,instagram,2021-03-28,attended,social worker,24.0
52,leo anderson,leo,anderson,38.0,male,2021-02-14,television,2021-03-10,attended,psychologist,14.0
56,leo anderson,leo,anderson,38.0,male,2021-02-14,television,2021-03-28,attended,psychologist,13.0
57,leon grave,leon,grave,18.0,male,2021-02-06,private practitioner,2021-03-01,attended,psychiatrist,3.0
58,leon grave,leon,grave,18.0,male,2021-02-06,private practitioner,2021-03-07,attended,psychiatrist,33.0
62,lorna cormack,lorna,cormack,31.0,female,2021-02-12,lifeline,2021-03-03,attended,psychologist,24.0
64,lorna cormack,lorna,cormack,31.0,female,2021-02-12,lifeline,2021-03-24,attended,psychiatrist,14.0
69,michael black,michael,black,97.0,male,2021-02-08,close entourage,2021-03-16,attended,psychologist,14.0
73,michael black,michael,black,97.0,male,2021-02-08,close entourage,2021-03-31,attended,social worker,19.0
74,mike good,mike,good,38.0,male,2021-02-06,lifeline,2021-03-04,attended,psychiatrist,19.0
75,mike good,mike,good,38.0,male,2021-02-06,lifeline,2021-03-24,attended,psychiatrist,0.0
77,oliver gage,oliver,gage,57.0,male,2021-02-08,facebook,2021-03-03,attended,nurse,6.0
78,oliver gage,oliver,gage,57.0,male,2021-02-08,facebook,2021-03-29,attended,psychologist,8.0
83,rachel warwick,rachel,warwick,37.0,female,2021-02-08,television,2021-03-02,attended,psychologist,19.0
84,rachel warwick,rachel,warwick,37.0,female,2021-02-08,television,2021-03-29,attended,social worker,27.0
87,sophie lard,sophie,lard,8.0,female,2021-02-08,close entourage,2021-03-04,attended,nurse,23.0
89,sophie lard,sophie,lard,8.0,female,2021-02-08,close entourage,2021-03-28,attended,psychiatrist,25.0

***

In [22]:
#creating a temporary pandas.series by shifting the phq9 scores downward 

temp_col = df.phq9.shift()

In [23]:
# create a final dataframe to be able to have columns of first socres and last scores on the first and last appoint.
final_df = pd.DataFrame({'last_score': df.phq9, 'first_score': temp_col})
final_df

    last_score  first_score
1         23.0          NaN
2         22.0         23.0
7          7.0         22.0
8         18.0          7.0
11        21.0         18.0
14        19.0         21.0
15        23.0         19.0
17        23.0         23.0
18        16.0         23.0
20        10.0         16.0
21        11.0         10.0
28         0.0         11.0
29         2.0          0.0
30        17.0          2.0
31        27.0         17.0
32         7.0         27.0
33        24.0          7.0
36         4.0         24.0
37        27.0          4.0
41        18.0         27.0
42        15.0         18.0
43        21.0         15.0
44         0.0         21.0
46        24.0          0.0
52        14.0         24.0
56        13.0         14.0
57         3.0         13.0
58        33.0          3.0
62        24.0         33.0
64        14.0         24.0
69        14.0         14.0
73        19.0         14.0
74        19.0         19.0
75         0.0         19.0
77         6.0          0.0
78         8.0          6.0
83        19.0          8.0
84        27.0         19.0
87        23.0         27.0
89        25.0         23.0

In [24]:
# drop the first row with the Null values to get rows of first and last socres aligned (already shifted previsouly)
final_df.dropna(inplace=True)

In [25]:
# only odd rows corrsponds to each patient first and last score, filter the dataframe accordingly 
final_df = final_df[::2]

# at index 46 a patient was given a score of zero and than last session 24
# zero is problematic for percentage change from first to last session scores, it was substituted with a 1 
final_df['first_score'].loc[46] = 1
final_df

    last_score  first_score
2         22.0         23.0
8         18.0          7.0
14        19.0         21.0
17        23.0         23.0
20        10.0         16.0
28         0.0         11.0
30        17.0          2.0
32         7.0         27.0
36         4.0         24.0
41        18.0         27.0
43        21.0         15.0
46        24.0          1.0
56        13.0         14.0
58        33.0          3.0
64        14.0         24.0
73        19.0         14.0
75         0.0         19.0
78         8.0          6.0
84        27.0         19.0
89        25.0         23.0

In [26]:
#fucntion that compute the percentage change from the first score to the last score 

def percentage_change(a,b):
    return round((np.abs(b-a)/a)*100,2)

#create a new colum in the final_df with the %_change of scores by applying a lambda function to the rows 

final_df['%_change']= final_df.apply(lambda row : percentage_change(row['first_score'],row['last_score']), axis = 1)
final_df

    last_score  first_score  %_change
2         22.0         23.0      4.35
8         18.0          7.0    157.14
14        19.0         21.0      9.52
17        23.0         23.0      0.00
20        10.0         16.0     37.50
28         0.0         11.0    100.00
30        17.0          2.0    750.00
32         7.0         27.0     74.07
36         4.0         24.0     83.33
41        18.0         27.0     33.33
43        21.0         15.0     40.00
46        24.0          1.0   2300.00
56        13.0         14.0      7.14
58        33.0          3.0   1000.00
64        14.0         24.0     41.67
73        19.0         14.0     35.71
75         0.0         19.0    100.00
78         8.0          6.0     33.33
84        27.0         19.0     42.11
89        25.0         23.0      8.70

In [27]:
""" start adding colums to the final_df dataframe from the previous df 
    (duplicated rows: patient is recorded twice)"""

# use the last idx to add full name 
final_df['full name']= df.loc[last_idx, ['full name']]

#use the last idx to add last visit practitioner and last appointment date from the previous df

final_df['lastVisit_practitioner'] = df.loc[last_idx, ['practitioner']]
final_df['last_appointment_date'] = df.loc[last_idx, ['appointment date']]

#-----------------------------------------------------------------------------------------------------------------------

# create an index col with the first idx already extracted previously 

final_df['INDEX'] = first_idx
#set is as the index now to the final dataframe 
final_df.set_index('INDEX', inplace= True)

#use the newly replaced indices (first indices) for the subsequent columns from previous df using the first_idx values 

final_df['firstVisit_practitioner'] = df.loc[first_idx, ['practitioner']]
final_df['first_appointment_date'] = df.loc[first_idx, ['appointment date']]
final_df['gender'] = df.loc[first_idx, ['gender']]
final_df['age'] = df.loc[first_idx, ['age']]
final_df['services awerness via'] = df.loc[first_idx, ['services awerness via']]
final_df['call date'] = df.loc[first_idx, ['call date']]

final_df

,last_score,first_score,%_change,full name,lastVisit_practitioner,last_appointment_date,firstVisit_practitioner,first_appointment_date,gender,age,services awerness via,call date
INDEX,,,,,,,,,,,,
1,22.0,23.0,4.35,alfie murray,social worker,2021-03-22,psychiatrist,2021-03-10,male,NaN,twitter,2021-02-15
7,18.0,7.0,157.14,archie johnstone,psychologist,2021-03-28,psychiatrist,2021-03-13,male,35.0,radio,2021-02-25
11,19.0,21.0,9.52,damon hart,nurse,2021-03-28,social worker,2021-03-07,male,76.0,ngo,2021-02-07
15,23.0,23.0,0.00,gavin wolff,psychologist,2021-03-31,psychologist,2021-03-01,male,8.0,ngo,2021-02-06
18,10.0,16.0,37.50,harris thomson,nurse,2021-03-23,nurse,2021-03-09,male,82.0,lifeline,2021-02-13
21,0.0,11.0,100.00,isabelle wells,psychiatrist,2021-03-30,psychologist,2021-03-03,female,25.0,twitter,2021-02-13
29,17.0,2.0,750.00,jacob watt,psychiatrist,2021-03-16,psychiatrist,2021-03-15,male,67.0,lifeline,2021-02-26
31,7.0,27.0,74.07,james black,psychologist,2021-03-04,social worker,2021-03-02,male,37.0,close entourage,2021-02-06
33,4.0,24.0,83.33,james stewart,psychologist,2021-03-31,psychiatrist,2021-03-08,male,41.0,television,2021-02-13
37,18.0,27.0,33.33,jeffrey lard,psychiatrist,2021-03-15,social worker,2021-03-04,male,45.0,close entourage,2021-02-07
42,21.0,15.0,40.00,jennifer runt,psychologist,2021-03-31,psychiatrist,2021-03-29,female,41.0,instagram,2021-02-08
44,24.0,1.0,2300.00,john doe,social worker,2021-03-28,psychiatrist,2021-03-01,male,23.0,instagram,2021-02-01
52,13.0,14.0,7.14,leo anderson,psychologist,2021-03-28,psychologist,2021-03-10,male,38.0,television,2021-02-14
57,33.0,3.0,1000.00,leon grave,psychiatrist,2021-03-07,psychiatrist,2021-03-01,male,18.0,private practitioner,2021-02-06
62,14.0,24.0,41.67,lorna cormack,psychiatrist,2021-03-24,psychologist,2021-03-03,female,31.0,lifeline,2021-02-12
69,19.0,14.0,35.71,michael black,social worker,2021-03-31,psychologist,2021-03-16,male,97.0,close entourage,2021-02-08
74,0.0,19.0,100.00,mike good,psychiatrist,2021-03-24,psychiatrist,2021-03-04,male,38.0,lifeline,2021-02-06
77,8.0,6.0,33.33,oliver gage,psychologist,2021-03-29,nurse,2021-03-03,male,57.0,facebook,2021-02-08
83,27.0,19.0,42.11,rachel warwick,social worker,2021-03-29,psychologist,2021-03-02,female,37.0,television,2021-02-08
87,25.0,23.0,8.70,sophie lard,psychiatrist,2021-03-28,nurse,2021-03-04,female,8.0,close entourage,2021-02-08

In [28]:
# rearange the column order and drop the index

col_names = ["full name", "age", "gender", "call date", "services awerness via", 
             "first_appointment_date", "firstVisit_practitioner", "first_score",
             "last_appointment_date","lastVisit_practitioner", "last_score", "%_change"]

final_df = final_df.reindex(columns=col_names)
final_df = final_df.reset_index(drop= True)
final_df.head()

,full name,age,gender,call date,services awerness via,first_appointment_date,firstVisit_practitioner,first_score,last_appointment_date,lastVisit_practitioner,last_score,%_change
0,alfie murray,NaN,male,2021-02-15,twitter,2021-03-10,psychiatrist,23.0,2021-03-22,social worker,22.0,4.35
1,archie johnstone,35.0,male,2021-02-25,radio,2021-03-13,psychiatrist,7.0,2021-03-28,psychologist,18.0,157.14
2,damon hart,76.0,male,2021-02-07,ngo,2021-03-07,social worker,21.0,2021-03-28,nurse,19.0,9.52
3,gavin wolff,8.0,male,2021-02-06,ngo,2021-03-01,psychologist,23.0,2021-03-31,psychologist,23.0,0.00
4,harris thomson,82.0,male,2021-02-13,lifeline,2021-03-09,nurse,16.0,2021-03-23,nurse,10.0,37.50

In [29]:
final_df.tail()

,full name,age,gender,call date,services awerness via,first_appointment_date,firstVisit_practitioner,first_score,last_appointment_date,lastVisit_practitioner,last_score,%_change
15,michael black,97.0,male,2021-02-08,close entourage,2021-03-16,psychologist,14.0,2021-03-31,social worker,19.0,35.71
16,mike good,38.0,male,2021-02-06,lifeline,2021-03-04,psychiatrist,19.0,2021-03-24,psychiatrist,0.0,100.00
17,oliver gage,57.0,male,2021-02-08,facebook,2021-03-03,nurse,6.0,2021-03-29,psychologist,8.0,33.33
18,rachel warwick,37.0,female,2021-02-08,television,2021-03-02,psychologist,19.0,2021-03-29,social worker,27.0,42.11
19,sophie lard,8.0,female,2021-02-08,close entourage,2021-03-04,nurse,23.0,2021-03-28,psychiatrist,25.0,8.70

***

Save the newly formed dataframes into csv files:  merged_df, df, and final_df: merged_df is the raw intact left join on appointment_df with triage_df. df is the merged and cleaned triage and appointment information dataframes (patients have more than one record depending on their frequencies of visit to the center). final_df is the final dataframes needed to answer question 2 and 3 (patients that had more than one visit and selected, and the data columns are rearranged so that appointment visits and practioner types are desaggregated for each patient row (duplicated).

In [30]:
merged_df.to_csv('merged_df.csv', index= False) #saving the dataframe into a csv file 'merged_df.csv'
df.to_csv('df.csv', index= False) #saving the dataframe into a csv file 'df.csv'
final_df.to_csv('finaldf.csv', index= False) #saving the dataframe into a csv file 'finaldf.csv'